body{
    background-color: gray;
    background-image: linear-gradient(rgba(43, 43, 48, 0.5),gray), url("Maintenance.jpg");


}
.maintenance{
    align-self: center;
    font-size: 20px;
    background-color: rgba(82, 30, 202, 0.486);
    width: 700px;
    height:800px;
}
.maintenance form{
    width: 360px;
    margin: 10px;
    font-family:'Times New Roman', Times, serif;
    font-size: 25px;
    color: black;
    line-height: normal;
 
}
.checkbox{
    height: 25px;
    width: 25px;
    background-color: wheat;
}
.text{
    width: 40px;
    height: 30px;
    font-size: 20px;
}
.button {
    padding: 10px 20px;
    font-size: 20px;
    text-align: center;
    cursor: pointer;
    outline: none;
    color: black;
    background-color: ghostwhite;
    border: none;
    border-radius: 10px;
    box-shadow: 0 9px #999;
  }
  .button:active{
    background-color: blue;  
  }

.textarea{
font-size: 20px;
padding:10px;
}
