body{
    color: rgb(231, 241, 240);
    background-image: url("bg1.jpg")
}
.reset-pwd form{
    position: relative;
    margin-right: 10px;
    border: none;
    font-family:'Times New Roman', Times, serif;
    font-size: 20px;
    color:turquoise;
    line-height: normal;
}
input[type=text]{
font-size: 20px;
padding:20px;
width: 300px;

}
.button {
    padding: 10px 20px;
    font-size: 20px;
    text-align: center;
    cursor: pointer;
    outline: none;
    color:black;
    background-color: rgb(197, 197, 218);
    border: none;
    border-radius: 10px;
    box-shadow: 0 9px #999;
  }
  .button:active {
    background-color: #3d0e7a;
    box-shadow: 0 5px #666;
  }
  @media screen and (max-width:80%){
    .reset-pwd form{
        position: center;
        margin-right: 5px;
        border: none;
        font-family:Arial, Helvetica, sans-serif;
        font-size: 15px;
        color:rgb(20, 43, 40);
        line-height: normal;
    }  
}
      
