img {
  width: 15%;
}
body {
background-color: gray;
background-image: url("bg1.jpg")
}
header nav {
    background-color: white;
}

.login{
    float: right;
}
 .login form{
    float: right;
   
}
h3{
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;}
.login form input{
    float: left;
    width:200px;
    height: 50px;
    padding: 0px 40px;
    margin-right: 10px;
    border: none;
    background-color: whitesmoke;
    font-family:'Times New Roman', Times, serif;
    font-size: 20px;
    color: blue;
    line-height: normal;
    font-weight: bold
}
.button {
    padding: 10px 5px;
    font-size: 15px;
    text-align: center;
    cursor: pointer;
    outline: none;
    color: blue;
    background-color: whitesmoke;
    border: none;
    border-radius: 5px;
}
a{
    font-size: 25px;
    color: blue;
}