
body{
    background-color: gray;
    background-image: linear-gradient(rgba(28, 28, 56, 0.5),gray), url("signup.jpg");
    color:rgb(47, 14, 235);
}
.sign-up form{
    position: relative;
    margin-right: 10px;
    border: none;
    font-family:'Times New Roman', Times, serif;
    font-size: 20px;
    color:ghostwhite;
    line-height: normal;
    padding:15px;
}
input[type=text]{
    font-size: 15px;
    padding:20px;
    width: 300px;
    
}

.button {
    padding: 15px 25px;
    font-size: 24px;
    text-align: center;
    cursor: pointer;
    outline: none;
    color: #fff;
    background-color:rgb(24, 10, 102);
    border: none;
    border-radius: 15px;
    box-shadow: 0 9px #999;
  }
  @media screen and (max-width:70%){
    .sign-up form{
        float: left;
        margin-right: 10px;
        border: none;
        font-family:'Courier New', Courier, monospace;
        font-size: 20px;
        color:ghostwhite;
        line-height: normal;
        padding:15px;
  }
}

  
      