body{
    background-color: gray;
    background-image: linear-gradient(rgba(43, 43, 48, 0.5),gray), url("smile.jpg");
}

/*https://stackoverflow.com/questions/41406509/add-a-profile-picture-in-form-in-html-and-css*/
#profile-container {
    float:right;
    width: 150px;
    height: 150px;
    overflow: hidden;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    border-radius: 50%;
}
.button1{
    padding: 10px 20px;
    font-size: 20px;
    text-align: center;
    cursor: pointer;
    outline: none;
    color:black;
    background-color: rgb(197, 197, 218);
    
}
.button{
    padding: 10px 20px;
    font-size: 20px;
    text-align: center;
    cursor: pointer;
    outline: none;
    color:black;
    background-color: rgb(197, 197, 218);
   
}